<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="createcontent2">
            <h2>Game Found!</h2>
            <% if (aGame.length > 0) 
                var game = aGame[0];{ %>
                <h3><%= game.game_name %> <%= game.game_genre %>
                </h3> 
            <% } %>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>