<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="createcontent">
            <form action="/videogames/<%= locals.theId %>?_method=PATCH" method="POST">
                <label class="headingForAddingGame">Edit Game Details:</br>
                    <input type="text" id="gameName" name="gameName" value="<%= locals.gamename %>" required>
                    <input type="text" id="gameGenre" name="gameGenre" value="<%= locals.gamegenre %>" required>
                </label></br>
                <button class="Button">PATCH</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>